<div class="w-full h-full bg-[#e9e9e9]" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <div class="w-full my-1">
            <div>
                Szék kiválasztva: <span class="count">0</span>/<span class="max"></span>
            </div>
            <div>
                Kiválasztott székek: <span class="chosen-seats"></span>
            </div>
        </div>
        <div class="w-full mt-3" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
            <div class="item">Szabad</div>
            <div class="item">Foglalt</div>
            <div class="item">Kiválasztott</div>
        </div>
        <div class="screen"></div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="seats-container w-full">
                <div class="w-fit" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <div class="mt-6" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="6px">
                        <div *ngFor="let row of seats; let j = index">
                            <p class="font-medium text-center" *ngIf="j > 0" [ngClass]="j % 5 === 0 ? 'mb-5' : ''">{{j}}</p>
                        </div>
                    </div>
                    <div class="w-full" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                        <div class="w-full" *ngFor="let row of seats; let i = index" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="w-full" fxLayout="row" fxLayoutAlign="{{getLayout()}} center" fxLayoutGap="10px" [ngClass]="i % 5 === 0 ? 'mb-5' : ''">
                                <div class="all-seats w-fit h-fit" *ngFor="let seat of row">
                                    <input type="checkbox" name="tickets" id="{{seat}}" value="{{seat}}" (change)="seatSelected($event)" [disabled]="reservedSeats.includes(seat)">
                                    <label class="seat text-sm" for="{{seat}}">{{seat.split('/')[1]}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="6px">
                        <div *ngFor="let row of seats; let k = index">
                            <p class="font-medium text-center" *ngIf="k > 0" [ngClass]="k % 5 === 0 ? 'mb-5' : ''">{{k}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full mt-3">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>
                    <button mat-raised-button mat-dialog-close color="warn" class="mt-5">Mégse</button>
                </span>
                <span>
                    <button mat-raised-button color="primary" class="mt-5" (click)="ok()">Tovább</button>
                </span>
            </div>
        </div>
    </div>
</div>