<div class="w-full h-full bg-[#9d9d9d]" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <div class="w-full" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
            <div class="item">Szabad</div>
            <div class="item">Foglalt</div>
            <div class="item">Kiválasztott</div>
        </div>
        <div class="screen"></div>
        <div class="w-11/12" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
            <div class="w-full" *ngFor="let row of seats" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="all-seats w-fit h-fit" *ngFor="let seat of row">
                    <input type="checkbox" name="tickets" id="{{seat}}" value="{{seat}}" (change)="seatSelected($event)" [disabled]="reservedSeats.includes(seat)">
                    <label class="seat" for="{{seat}}">{{seat.split('/')[1]}}</label>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="total">
                <div>
                    Szék kiválasztva: <span class="count">0</span>/<span class="max"></span>
                </div>
                <div>
                    Kiválasztott székek: <span class="chosen-seats"></span>
                </div>
            </div>
            <div>
                <button mat-raised-button mat-dialog-close color="primary" class="mt-5">Mégse</button>
                <button mat-raised-button color="primary" class="mt-5" (click)="ok()">Tovább</button>
            </div>
        </div>
    </div>
</div>