<div class="flex items-center justify-center flex-wrap h-full bg-black" *ngIf="chosenFilm">
    <mat-card class="w-full h-5/6 m-3" fxLayout>
        <div class="h-full w-full" fxLayout="column" fxFlex="1 1 50%">
            <mat-card-content>
                <img class="h-auto w-1/2" [src]="coverUrl" alt="{{chosenFilm.title}}">
            </mat-card-content>
        </div>
        <div fxFlex="1 1 50%">
            <mat-card-header class="my-3" fxLayout="row">
                <p class="text-left" fxFlex="1 1 33%" fxFlexAlign="end">Korhatár: {{chosenFilm.age_limit}}</p>
                <h1 class="text-center text-3xl" fxFlex="1 1 33%">{{chosenFilm.title}}</h1>
                <p class="text-right" fxFlex="1 1 33%" fxFlexAlign="end">{{chosenFilm.movie_length}} perc</p>
            </mat-card-header>
            <mat-card-content>
                <p class="my-3">{{chosenFilm.summary}}</p>
                <div class="my-3" fxLayout="row" fxLayoutAlign="start center">
                    <p>Műfajok: </p>
                    <p class="mx-2" *ngFor="let genre of chosenFilm.genres">{{genre}}</p>
                </div>
                <p class="my-3">Rendező: {{chosenFilm.director}}</p>
                <p class="my-3">Színészek: {{chosenFilm.actors}}</p>
            </mat-card-content>
        </div>
    </mat-card>
    <div>
        <form class="w-full m-10" fxLayout="column" fxLayoutAlign="space-around end" [formGroup]="commentsForm" (ngSubmit)="addComment()">
            <mat-form-field class="my-2 w-full">
                <mat-label for="username">Felhasználónév: </mat-label>
                <input matInput type="text" formControlName="username"/>
            </mat-form-field>
            <mat-form-field class="my-2 w-full">
                <mat-label for="comment">Vélemény: </mat-label>
                <textarea matInput cols="50" rows="10" formControlName="comment"></textarea>
            </mat-form-field>
            <span>
                <button mat-raised-button color="primary" type="submit">ADD</button>
            </span>
        </form>
    </div>
    <div class="text-white" *ngIf="comments.length > 0">
        <table class="border border-solid border-white">
            <tr>
                <th class="border border-solid border-white">Felhasználó</th>
                <th class="border border-solid border-white">Komment</th>
                <th class="border border-solid border-white">Dátum</th>
            </tr>
            <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'bg-slate-300' : 'bg-orange-600'">
            <td class="border border-solid border-white">{{comment.username}}</td> 
            <td class="border border-solid border-white">{{comment.comment}}</td> 
            <td class="border border-solid border-white">{{comment.date | dateFormat}}</td> 
            </tr>
        </table>
    </div>
</div>