<div class="h-full bg-black" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="chosenFilm">
    <mat-card class="w-4/5 h-5/6 m-3" fxLayout style="background-color: black;">
        <div class="h-full w-full" fxLayout="column" fxFlex="1 1 33%">
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" >
                <div class="w-full mb-5">
                    <p class="text-left text-white mr-2" fxFlex="1 1 30%" fxFlexAlign="center">Korhatár: {{chosenFilm.age_limit}}</p>
                    <star-rating [value]="averageRating" [totalstars]="5" checkedcolor="gold" uncheckedcolor="#9d9d9d" size="22px" [readonly]="true" fxFlex="1 1 40%"></star-rating>
                    <div fxFlex="1 1 30%" fxLayout="row" fxLayoutAlign="end center">
                        <mat-icon style="color: white;">access_time</mat-icon>
                        <p class="ml-1 text-white">{{chosenFilm.movie_length}} perc</p>
                    </div>
                </div>
                <img class="border-solid border-4 border-white rounded-md shadow-[0px_0px_9px_1px_rgba(0,0,0,0.75)] shadow-[#ffc000]" [src]="coverUrl" alt="{{chosenFilm.title}}">
            </mat-card-content>
        </div>
        <div fxFlex="1 1 67%">
            <mat-card-header class="my-3 w-full">
                <h1 class="w-full text-center text-white text-4xl">{{chosenFilm.title}}</h1>
            </mat-card-header>
            <mat-card-content>
                <p class="my-3 text-xl text-white">{{chosenFilm.summary}}</p>
                <div class="border-solid border border-white"></div>
                <div class="my-3 text-xl text-white" fxLayout="row" fxLayoutAlign="start center">
                    <p>Műfajok: </p>
                    <p class="mx-2" *ngFor="let genre of chosenFilm.genres">{{genre}}</p>
                </div>
                <div class="border-solid border border-white"></div>
                <p class="my-3 text-xl text-white">Rendező: {{chosenFilm.director}}</p>
                <div class="border-solid border border-white"></div>
                <p class="my-3 text-xl text-white">Színészek: {{chosenFilm.actors}}</p>
                <div class="border-solid border border-white"></div>
            </mat-card-content>
        </div>
    </mat-card>
    <div class="bg-white w-4/5 h-fit my-10 rounded-lg" fxLayout="column" fxLayoutAlign="space-around start" *ngIf="user">
        <form class="w-fit h-full m-3" [formGroup]="selectForm" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field>
                <mat-label for="cinemaId">Mozi: </mat-label>
                <mat-select formControlName="cinemaId" (selectionChange)="cinemaSelected()">
                  <mat-option *ngFor="let cinema of cinemas" [value]="cinema.id"> {{ cinema.town }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="chosenCinema" (change)="daySelected()">
                <span *ngFor="let date of week; let i = index">
                    <input type="radio" [id]="'day' + i" [value]="date" formControlName="day">
                    <label class="ml-2 text-xl font-medium" [for]="'day' + i">{{ i === 0 ? 'Ma' : date | hungarianDateFormat}}</label>
                </span>
                <p class="ml-2">{{selectedDay | date: 'yyyy/MM/dd'}}</p>                
            </div>
        </form>
        <div class="mx-6 mb-4" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
            <button mat-raised-button class="w-fit h-auto" color="primary" *ngFor="let screening of screenings" [routerLink]="'/ticket-booking/' + screening.id">{{screening.time | date:'HH:mm'}}</button>
        </div>
    </div>
    <div class="w-4/5 mb-8" *ngIf="!loaded">
        <button mat-raised-button class="w-full text-white font-medium" style="background-color: #9d9d9d; color: white;" (click)="getComments()">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <mat-icon style="scale: 200%; color: white;">keyboard_arrow_down</mat-icon>
                <p class="text-xl">Vélemények</p>
                <mat-icon style="scale: 200%; color: white;">keyboard_arrow_down</mat-icon>
            </div>
        </button>
    </div>
    <div class="w-4/5 mb-8" *ngIf="loaded">
        <button mat-raised-button class="w-full" style="background-color: #9d9d9d;" (click)="hideComments()"><mat-icon style="scale: 200%; color: white;">keyboard_arrow_up</mat-icon></button>
    </div>
    <div class="w-4/5 mb-8" *ngIf="loaded && !user && comments.length === 0">
        <h1 class="w-full text-center text-white text-3xl font-bold">Még nincsen komment ehhez a filmhez!</h1>
    </div>
    <div class="w-4/5 mb-10 bg-[#434343] rounded-lg" *ngIf="loaded">
        <form class="w-full p-5" fxLayout="column" fxLayoutAlign="space-around end" [formGroup]="commentsForm" (ngSubmit)="addComment()" *ngIf="!ownComment && user">
            <mat-form-field class="mt-2 w-full">
                <mat-label for="username">Felhasználónév: </mat-label>
                <input matInput class="w-11/12" type="text" readonly="true" [value]="user.username"/>
            </mat-form-field>
            <star-rating class="mb-3" [value]="1" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black" size="26px" [readonly]="false" (rate)="onRate($event)"></star-rating>
            <mat-form-field class="my-2 w-full">
                <mat-label for="comment">Vélemény: </mat-label>
                <textarea matInput cols="50" rows="3" formControlName="comment"></textarea>
            </mat-form-field>
            <span class="w-full">
                <button mat-raised-button class="w-full" color="primary" type="submit">Megjegyzés</button>
            </span>
        </form>
        <div class="mt-5" *ngIf="user && ownComment">
            <h2 class="ml-5 text-2xl text-white font-medium">SAJÁT VÉLEMÉNY:</h2>
            <mat-card class="m-5" style="background-color: #9d9d9d;">
                <mat-card-content>
                    <div fxFlex="1 1 85%">
                        <h3 class="text-xl text-black font-semibold">{{ ownComment.username }}</h3>
                        <p class="mt-2 text-black font-medium">{{ ownComment.comment }}</p>
                        <p class="mt-2 text-black text-sm">{{ ownComment.date | dateFormat }} <span *ngIf="ownComment.moderatorId !== ''">moderated</span></p>
                    </div>
                    <div class="w-full" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" fxFlex="1 1 15%">
                        <star-rating [value]="ownComment.rating" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black" size="26px" [readonly]="true"></star-rating>
                        <div class="w-full"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                            <button mat-fab color="warn" style="scale: 85%;" (click)="deleteComment(ownComment)"><mat-icon>delete</mat-icon></button>
                            <button mat-fab style="scale: 85%; background-color: cornflowerblue;" (click)="edit(ownComment)" *ngIf="ownComment.moderatorId === ''"><mat-icon>edit</mat-icon></button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="mt-5" *ngIf="comments.length > 0">
            <h2 class="ml-5 text-2xl text-white font-medium">MÁSOK VÉLEMÉNYE:</h2>
            <mat-card class="m-5" *ngFor="let comment of comments" style="background-color: #9d9d9d;">
                <mat-card-content>
                    <div fxFlex="1 1 85%">
                        <h3 class="text-xl text-black font-semibold">{{ comment.username }}</h3>
                        <p class="mt-2 text-black font-medium">{{ comment.comment }}</p>
                        <p class="mt-2 text-black text-sm">{{ comment.date | dateFormat }} <span *ngIf="comment.moderatorId !== ''">moderated</span></p>
                    </div>
                    <div class="w-full" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" fxFlex="1 1 15%">
                        <star-rating [value]="comment.rating" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black" size="26px" [readonly]="true" fxFlex="1 1 15%"></star-rating>
                        <div class="w-full"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="isModerator">
                            <button mat-fab color="warn" style="scale: 85%;" (click)="deleteComment(comment)"><mat-icon>delete</mat-icon></button>
                            <button mat-fab style="scale: 85%; background-color: cornflowerblue;" (click)="edit(comment)" *ngIf="comment.moderatorId === ''"><mat-icon>edit</mat-icon></button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>