<span class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="bg-black w-full h-screen" fxLayout="column" fxLayoutAlign="space-around center" >
    <div class="content-container w-4/5">
        <div class="container bg-[#ffc000] mr-2 my-3 py-5 rounded-lg font-medium" fxFlex.gt-xs="1 1 33%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
            <img class="rounded-full" src="../../../assets/img/profilkep.jpg" width="75%" height="auto" alt="profilkép">
            <div class="w-full" fxLayout="row" fxLayoutAlign="center center" *ngIf="user">
                <mat-icon>person</mat-icon>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                        <p class="user-text" *ngIf="!updateFirstname && updateUsername || updateLastname">{{user.name.firstname}}</p>
                        <input class="w-1/2" *ngIf="updateFirstname" type="text" value="{{user.name.firstname}}" [(ngModel)]="user.name.firstname">
                        <button style="max-width: 150px; overflow-x: auto;" *ngIf="!updateLastname && !updateFirstname && !updateUsername" (click)="letFirstnameUpdate()">
                            {{user.name.firstname}}
                        </button>
                        <button *ngIf="updateFirstname" (click)="firstnameUpdate()">
                            <mat-icon>save</mat-icon>
                        </button>
                        <button *ngIf="updateFirstname" (click)="cancel()">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                        <p class="user-text" *ngIf="!updateLastname && updateUsername || updateFirstname">{{user.name.lastname}}</p>
                        <input class="w-1/2" *ngIf="updateLastname" type="text" value="{{user.name.lastname}}" [(ngModel)]="user.name.lastname">
                        <button style="max-width: 150px; overflow-x: auto;" *ngIf="!updateLastname && !updateFirstname && !updateUsername" (click)="letLastnameUpdate()">
                            {{user.name.lastname}}
                        </button>
                        <button *ngIf="updateLastname" (click)="lastnameUpdate()">
                            <mat-icon>save</mat-icon>
                        </button>
                        <button *ngIf="updateLastname" (click)="cancel()">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="username-container w-full" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" *ngIf="user">
                <mat-icon>account_circle</mat-icon>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <p *ngIf="!updateUsername">{{user.username}}</p>
                    <input *ngIf="updateUsername" type="text" value="{{user.username}}" [(ngModel)]="user.username">
                    <button *ngIf="!updateLastname && !updateFirstname && !updateUsername" (click)="letUsernameUpdate()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="updateUsername" (click)="usernameUpdate()">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button *ngIf="updateUsername" (click)="cancel()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </div>
            <div class="w-full" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <mat-icon>mail_outline</mat-icon>
                <p>{{user?.email}}</p>
            </div>
            <div class="password-change-link" *ngIf="!updatePassword">
                <a class="text-[#2C2C2C] hover:text-[#fe7a00] active:text-[#FF0000] cursor-pointer" (click)="letPasswordUpdate()">Jelszó váltás</a>
            </div>
            <form *ngIf="updatePassword" [formGroup]="passwordForm" (ngSubmit)="passwordUpdate()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field>
                    <mat-label for="password">Új jelszó:</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="passwordAgain">Új jelszó megint:</mat-label>
                    <input matInput type="password" formControlName="passwordAgain">
                </mat-form-field>
                <div class="w-full" fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-raised-button color="warn" (click)="cancelPasswordUpdate()">Mégse</button>
                    <button mat-raised-button color="accent" type="submit">Mentés</button>
                </div>
            </form>
        </div>
        <div class="ticket-container bg-[#d9d9d9] my-3 rounded-lg pb-2" fxFlex.gt-xs="1 1 66%" *ngIf="tickets">
            <div class="w-full" fxLayout="row" fxLayoutAlign="space-between center">
                <h1 class="w-full font-semibold text-2xl m-3">JEGYEK</h1>
                <div class="w-full flex justify-end m-3">
                    <mat-button-toggle-group (change)="getTickets($event)">
                        <mat-button-toggle value="active" checked>Aktív</mat-button-toggle>
                        <mat-button-toggle value="expired">Lejárt</mat-button-toggle>
                        <mat-button-toggle value="all">Mind</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div class="w-full" *ngIf="tickets.length === 0">
                <p class="w-full text-center font-semibold text-2xl m-3">Nincsen jegy!</p>
            </div>
            <div class="scroll w-full" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px" *ngIf="tickets.length > 0">
                <mat-card *ngFor="let ticket of tickets" style="width: 90%; background-color: white; text-align: center;">
                    <mat-card-content>
                        <div fxFlex.gt-xs="1 1 25%" fxLayout="column" fxLayoutAlign="center center">
                            <p class="font-medium">Ajándék</p>
                            <span *ngIf="ticket.prizeId === ''">
                                <button mat-raised-button style="background-color: #0BD808;" class="mt-5" (click)="getPrize(ticket)" *ngIf="ticket.screening_time > currentDate">Beváltás</button>
                                <mat-icon class="mt-5" style="scale: 300%;" *ngIf="ticket.screening_time <= currentDate">close</mat-icon>
                            </span>
                            <div *ngIf="ticket.prizeId !== ''">
                                <img [src]="getPrizeImage(ticket.prizeId)" height="50px">
                            </div>
                        </div>
                        <div fxFlex.gt-xs="1 1 25%" fxLayout="column" fxLayoutAlign="center center">
                            <p class="font-medium">{{ticket.film_title}}</p>
                            <p class="font-medium" *ngIf="ticket.screening_type === '3D'">({{ticket.screening_type}}{{ticket.glasses ? ' + szemüveg' : ''}})</p>
                            <p class="font-medium" *ngIf="ticket.screening_type === '2D'">({{ticket.screening_type}})</p>
                            <p class="font-medium">{{ticket.cinema}} {{ticket.auditorium_number}}. terem</p>
                            <p class="font-medium">{{convertSeat(ticket.chosen_seat)}}</p>
                            <p class="font-medium">{{ticket.screening_time | date: 'yyyy.MM.dd. HH:mm'}}</p>
                        </div>
                        <div fxFlex.gt-xs="1 1 25%" fxLayout="column" fxLayoutAlign="center center">
                            <p class="font-medium">{{ticket.payed ? 'Fizetve' : 'Lefoglalva'}}</p>
                            <span *ngIf="!ticket.payed">
                                <button mat-raised-button color="warn" class="mt-5" (click)="deleteTicket(ticket)" *ngIf="ticket.screening_time > currentDate">Lemondás</button>
                            </span>
                        </div>
                        <div fxFlex.gt-xs="1 1 25%" fxLayout="row" fxLayoutAlign="space-around center">
                            <img [src]="getQRCode(ticket)">
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>