.generate-button {
    padding: 8px 15px 8px 15px;
    background-color: #ffa700;
    border-radius: 4px;
    cursor: pointer;
}

.generate-button:hover {
    background-color: #ffc000;
}

.generate-button:active {
    background-color: #fe7a00;
}