.box {
    position: relative;
    border-radius: 14px; 
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 210%;
    height: 227%;
    background: linear-gradient(0deg, transparent, transparent, #ffc000, #ffc000, #ffc000);
    z-index: 0;
    transform-origin: bottom right;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

form {
    inset: 4px;
    background: #222;
    border-radius: 14px;
    z-index: 2;
}

h1 {
    font-weight: 500;
    letter-spacing: 0.1em;
}

@media only screen and (max-height: 776px) and (max-width: 320px) {
    .box {
        width: 85%;
    }

    .box h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 321px) and (max-height: 776px) and (max-width: 375px) {
    .box {
        width: 80%;
    }

    .box h1 {
        font-size: 26px;
    }
}

@media only screen and (min-width: 376px) and (max-height: 776px) and (max-width: 600px) {
    .box {
        width: 80%;
    }

    .box h1 {
        font-size: 29px;
    }
}

@media only screen and (min-width: 601px) and (max-height: 776px) and (max-width: 900px) {
    .box {
        width: 65%;
    }

    .box h1 {
        font-size: 33px;
    }
}

@media only screen and (min-height: 1500px) and (min-width: 1600px) {
    .box {
        width: 65%;
    }

    .box h1 {
        font-size: 60px;
    }

    .box a {
        font-size: 35px;
    }

    .box button {
        font-size: 40px;
        padding: 35px;
    }

    .box mat-form-field {
        font-size: 30px;
    }
}