.box {
    position: relative;
    border-radius: 14px; 
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 210%;
    height: 227%;
    background: linear-gradient(0deg, transparent, transparent, #ffc000, #ffc000, #ffc000);
    z-index: 0;
    transform-origin: bottom right;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

form {
    inset: 4px;
    background: #222;
    border-radius: 14px;
    z-index: 2;
}

h1 {
    font-weight: 500;
    letter-spacing: 0.1em;
}

@media only screen and (max-height: 432px) and (max-width: 640px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 0.9rem;
        margin: 0;
    }

    a, mat-label {
        font-size: 70%;
        margin: 0;
    }

    mat-form-field, input, button {
        transform: scale(0.6);
        margin: -15px;
    }
}

@media only screen and (min-height: 432px) and (min-width: 640px) and (max-height: 576px) and (max-width: 854px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 1rem;
        margin: 0;
    }

    a, mat-label {
        font-size: 80%;
        margin: 0;
    }

    mat-form-field, input, button {
        transform: scale(0.7);
        margin: -10px;
    }
}

@media only screen and (min-height: 576px) and (min-width: 854px) and (max-height: 691px) and (max-width: 1024px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 1.2rem;
        margin: 0;
    }

    a, mat-label {
        font-size: 80%;
        margin: 0;
    }

    mat-form-field, input, button {
        transform: scale(0.8);
        margin: 0;
    }
}

@media only screen and (min-height: 1078px) and (min-width: 1600px) and (max-height: 1300px) and (max-width: 1930px) {
    .box {
        width: 65%;
    }

    a {
        font-size: 130%;
    }

    mat-label {
        font-size: 180%;
        margin: 5px;
    }

    h1 {
        font-size: 280%;
    }

    input {
        padding: 25px;
    }

    button {
        font-size: 180%;
        padding: 40px;
    }
}
 
@media only screen and (min-height: 1300px) and (min-width: 1930px) {
    .box {
        width: 65%;
    }

    a {
        font-size: 200%;
    }

    mat-label {
        font-size: 250%;
    }

    h1 {
        font-size: 350%;
    }

    input {
        padding: 40px;
    }

    button {
        font-size: 250%;
        padding: 50px;
    }

    mat-form-field input {
        font-size: 50px;
    }
}