<div class="bg-black h-screen" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="w-full h-fit bg-white" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="w-4/5 h-fit" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="chosenSeats.length === 0">
            <div class="w-full h-full m-2" fxLayout="column" fxLayoutAlign="start center" fxFlex="1 1 33%">
                <h1 class="text-3xl font-semibold">{{film?.title}}</h1>
                <div class="m-0 p-0" *ngIf="cinema" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>location_on</mat-icon>
                    <p class="text-2xl font-medium">{{cinema.town}}</p>
                </div>
                <p class="text-xl">{{screening?.time | date:'yyyy.MM.dd. HH:mm'}}</p>
                <p class="text-xl">{{auditorium?.hall_number}}. terem</p>
            </div>
            <div class="container w-full h-full" fxFlex="1 1 67%">
                <form class="w-full h-full my-14 pl-3" [formGroup]="bookingForm" (ngSubmit)="goToSeats()" fxLayout="column" fxLayoutAlign="space-around center">
                    <div class="booking-form_first-conatiner w-full mb-3 pb-8 text-xl" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px" (change)="paymentSelected()">
                        <span>
                            <input type="radio" id="no_pay" [value]="false" formControlName="pay">
                            <label class="ml-2" for="no_pay">Lefoglalás</label>
                        </span>
                        <span>
                            <input type="radio" id="pay" [value]="true" formControlName="pay">
                            <label class="ml-2" for="pay">Fizetés</label>
                        </span>
                    </div>
                    <div class="first-table w-full" formGroupName="ticket_count">
                        <table class="w-full text-left">
                            <thead class="w-full">
                                <tr class="w-full">
                                    <th fxFlex="1 1 40%">TÍPUS</th>
                                    <th fxFlex="1 1 20%">ÁR</th>
                                    <th *ngIf="pay" fxFlex="1 1 20%">KÉNYELMI DÍJ</th>
                                    <th fxFlex="1 1 20%">DARAB</th>
                                </tr>
                            </thead>
                            <tbody class="w-full">
                                <tr class="w-full">
                                    <td fxFlex="1 1 40%">Felnőtt, teljes árú jegy</td>
                                    <td fxFlex="1 1 20%">2200 Ft</td>
                                    <td fxFlex="1 1 20%" *ngIf="pay">100 Ft</td>
                                    <td fxFlex="1 1 20%">
                                        <input type="number" min="0" max="10" formControlName="full" value="0">
                                    </td>
                                </tr>
                                <tr *ngIf="pay" class="w-full">
                                    <td fxFlex="1 1 40%">Diákjegy</td>
                                    <td fxFlex="1 1 20%">1800 Ft</td>
                                    <td fxFlex="1 1 20%">100 Ft</td>
                                    <td fxFlex="1 1 20%">
                                        <input type="number" min="0" max="10" formControlName="student" value="0">
                                    </td>
                                </tr>
                                <tr *ngIf="pay" class="w-full">
                                    <td fxFlex="1 1 40%">Jegy fogyatékkal élők számára</td>
                                    <td fxFlex="1 1 20%">1600 Ft</td>
                                    <td fxFlex="1 1 20%">100 Ft</td>
                                    <td fxFlex="1 1 20%">
                                        <input type="number" min="0" max="10" formControlName="special" value="0">
                                    </td>
                                </tr>
                                <tr *ngIf="pay" class="w-full">
                                    <td fxFlex="1 1 40%">Nyugdíjas jegy</td>
                                    <td fxFlex="1 1 20%">1700 Ft</td>
                                    <td fxFlex="1 1 20%">100 Ft</td>
                                    <td fxFlex="1 1 20%">
                                        <input type="number" min="0" max="10" formControlName="elderly" value="0">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span>
                        <button mat-raised-button color="primary" class="mt-5" type="submit">Tovább</button>
                    </span>
                </form>
            </div>
        </div>
        <div class="w-3/5 h-fit my-3" fxLayout="column" fxLayoutAlign="space-around start"  *ngIf="chosenSeats.length !== 0">
            <h1 class="my-2 text-2xl font-semibold">Személyes adatok:</h1>
            <div class="personal-infos w-full text-left" fxLayout="row" fxLayoutAlign="start center" >
                <div fxFlex="1 1 20%">
                    <p>Név</p>
                    <p>Email</p>
                </div>
                <div fxFlex="1 1 80%">
                    <p>{{user?.name?.firstname}} {{user?.name?.lastname}}</p>
                    <p>{{user?.email}}</p>
                </div>
            </div>
            <div class="screening-infos w-full my-2">
                <h3 class="text-xl text-[#ffa700] font-medium">{{screening?.film_title + '(' + screening?.language + ')'}}</h3>
                <div class="w-full font-medium mt-2" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
                    <p>{{screening?.time | date:'EEEE yyyy.MM.dd. HH:mm'}}</p>
                    <p>Campus Cinema: {{cinema?.town}}</p>
                    <p>{{auditorium?.hall_number}}. terem</p>
                </div>
            </div>
            <h1 class="my-2 text-2xl font-semibold">Jegyek:</h1>
            <div class="second-table w-full">
                <table class="w-full text-left">
                    <thead>
                        <tr>
                            <th fxFlex="1 1 40%">Jegytípus</th>
                            <th fxFlex="1 1 20%">Ár</th>
                            <th fxFlex="1 1 20%" *ngIf="pay">Kényelmi díj</th>
                            <th fxFlex="1 1 20%">Szék</th>
                        </tr>
                    </thead>
                    <tbody class="scroll block">
                        <tr *ngFor="let ticket of finishedTickets; let i = index">
                            <td fxFlex="1 1 40%">{{(i+1)}}. {{ticket.type}}</td>
                            <td fxFlex="1 1 20%">{{ticket.price}} Ft</td>
                            <td fxFlex="1 1 20%" *ngIf="pay">100 Ft</td>
                            <td fxFlex="1 1 20%">{{printSeats[i]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h1 class="mt-4 mb-3 text-2xl font-semibold">Fizetési adatok</h1>
            <div class="w-full">
                <div class="w-full">
                    <div class="payment-infos w-full mb-2" fxLayout="row" fxLayoutAlign="start center">
                        <p fxFlex="1 1 10%">Mód</p>
                        <p fxFlex="1 1 90%">{{pay ? 'Azonnali fizetés' : 'Mozipénztárnál fizetés'}}</p>
                    </div>
                    <div class="w-full" fxLayout="row" fxLayoutAlign="start center">
                        <p class="text-2xl font-semibold" fxFlex="1 1 30%">Fizetendő összeg:</p>
                        <p class="text-2xl font-semibold" fxFlex="1 1 70%">{{paymentAmount}} Ft</p>
                    </div>
                </div>
                <div>
                    <input type="text">
                </div>
            </div>
            <div class="w-full" fxLayout="row" fxLayoutAlign="space-between center">
                <span>
                    <button mat-raised-button color="accent" class="mt-5">Mégse</button>
                </span>
                <span>
                    <button mat-raised-button color="primary" class="mt-5">Tovább</button>
                </span>
            </div>
        </div>
    </div>
</div>
