.container {
    border-left: 2px solid lightgray;
}

.booking-form_first-conatiner {
    border-bottom: 2px solid lightgray;
}

th, td {
    padding: 8px;
}

tbody tr:first-child {
    border-top: 4px solid #ffc000;
}
  
tbody tr:last-child {
    border-bottom: 4px solid #ffc000;
}

tbody tr:nth-child(2){
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

tbody tr:nth-child(3) {
    border-bottom: 1px dashed black;
}

input[type="number"] {
    padding-left: 3px;
    border: 2px solid black;
    border-radius: 5px;
}