<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-black text-white">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxLayout fxLayoutAlign="space-around start" >
        <p class="mr-2 text-2xl text-[#ffc000] font-bold">CAMPUS CINEMA</p> 
        <mat-icon class="mt-1" color="primary">local_movies</mat-icon>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="list-none p-0 m-0">
          <li *ngIf="!(loggedInUser)">
            <a routerLink="/login" class="text-xl hover:text-[#ffc000] active:text-[#fe7a00]">Bejelentkezés</a>
          </li>
          <li *ngIf="loggedInUser">
            <a routerLink="/main" class="text-xl hover:text-[#ffc000] active:text-[#fe7a00]" (click)="logout()">Kijelentkezés</a>
          </li>
          <li *ngIf="!(loggedInUser)">
            <a routerLink="/registration" class="text-xl hover:text-[#ffc000] active:text-[#fe7a00]">Regisztráció</a>
          </li>
          <li *ngIf="!(loggedInUser)">
            <a routerLink="/main" class="text-xl hover:text-[#ffc000] active:text-[#fe7a00]">Főoldal</a>
          </li>
          <li *ngIf="loggedInUser">
            <a routerLink="/cinema" class="text-xl hover:text-[#ffc000] active:text-[#fe7a00]">Főoldal</a>
          </li>
          <li>
            <a routerLink="/film-create" class="text-xl hover:text-[#ffc000] active:text-[#fe7a00]">Film létrehozás</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer class="bg-black w-full h-1/6 border-t border-white" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="w-full" fxLayout="row" fxLayoutAlign="space-around center" >
    <div class="w-4/5" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon color="primary">mail_outline</mat-icon>
      <p class="text-white">angolszabi@gmail.com</p>
    </div>
    <div>
      <mat-icon color="primary">facebook</mat-icon>
    </div>
  </div>
  <div class="w-full">
    <p class="w-full text-center text-white">Minden jog fenntartva Campus Cinema Bárány Szabolcs Magyarország 2023-24 ©</p>
  </div>
</footer>