<div class="bg-black w-full" fxLayout="column" fxLayoutAlign="space-around center" >
    <div class="w-full h-full">
        <ng-image-slider [images]="imageObject" [infinite]="true" [imageSize]="{width: '99.3%', height: '50%'}" [slideImage]="1" [animationSpeed]="1.5" [imagePopup]="false" [autoSlide]="5"></ng-image-slider>
    </div>
    <div class="w-4/5 h-full my-7">
        <form class="w-full" [formGroup]="searchForm" (ngSubmit)="onSearch()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <button mat-raised-button class="mb-6" color="primary" type="submit">Keresés<mat-icon class="ml-1">search</mat-icon></button>
            <mat-form-field>
                <mat-label for="title">Cím:</mat-label>
                <input matInput color="primary" type="text" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="genre">Műfaj:</mat-label>
                <mat-select  formControlName="genre">
                    <mat-option [value]="all"></mat-option>
                    <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div class="w-4/5" *ngIf="films">
        <div class="mb-10 w-full grid grid-cols-6 grid-flow-row gap-4 justify-items-center">
            <div class="w-full" *ngFor="let film of films">
                <a class="w-full h-auto" [routerLink]="'/film/' + film.id"><img class="w-[160px] h-[240px] rounded-lg" [src]="getCoverUrl(film)" alt="{{film.title}}"></a>
            </div>
        </div>
    </div>
    <div class="w-4/5" *ngIf="films.length === 0">
        <p class="w-full mb-10 text-center text-white text-2xl">Nincsen ilyen film még!</p>
    </div>
</div>
