<div class="bg-black" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="w-full mb-10">
        <ng-image-slider [images]="imageObject" [infinite]="true" [imageSize]="{width: '99.3%', height: '50%'}" [slideImage]="1" [animationSpeed]="1.5" [imagePopup]="false" [autoSlide]="5"></ng-image-slider>
    </div>
    <div class="w-4/5 mb-5">
        <h2 class="text-2xl text-white">Akció filmek</h2>
    </div>
    <div class="w-full mb-10">
        <app-film-list [genre]="'Akció'"></app-film-list>
    </div>
    <div class="w-4/5 mb-5">
        <h2 class="text-2xl text-white">Drámák</h2>
    </div> 
    <div class="w-full mb-10">
        <app-film-list [genre]="'Dráma'"></app-film-list>
    </div>
    <div class="w-4/5 mb-5">
        <h2 class="text-2xl text-white">Animációs filmek</h2>
    </div>
    <div class="w-full mb-10">
        <app-film-list [genre]="'Animáció'"></app-film-list>
    </div>
    <div class="w-4/5 mb-5">
        <h2 class="text-2xl text-white">Horror filmek</h2>
    </div>
    <div class="w-full mb-10">
        <app-film-list [genre]="'Horror'"></app-film-list>
    </div>
</div>
