<div class="bg-black" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="w-full mb-10">
        <ng-image-slider fxHide.xs [images]="imageObject" [infinite]="true" [imageSize]="{width: '99.3%', height: '50%'}" [slideImage]="1" [animationSpeed]="1.5" [imagePopup]="false" [autoSlide]="5"></ng-image-slider>
        <ng-image-slider fxHide.gt-xs [images]="imageObject" [infinite]="true" [imageSize]="{width: '98%', height: '20%'}" [slideImage]="1" [animationSpeed]="1.5" [imagePopup]="false" [autoSlide]="5"></ng-image-slider>
    </div>
    <div class="form-container w-4/5 h-full my-7">
        <form class="w-full bg-white rounded-lg" [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.gt-xs="20px">
            <mat-icon class="ml-1">search</mat-icon>
            <mat-form-field class="mt-5">
                <mat-label for="title">Cím:</mat-label>
                <input matInput color="primary" type="text" formControlName="title">
            </mat-form-field>
            <mat-form-field class="mt-5">
                <mat-label for="genre">Műfaj:</mat-label>
                <mat-select formControlName="genre">
                    <mat-option [value]="all"></mat-option>
                    <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div class="w-full mb-10" *ngIf="films.length > 0">
        <app-film-list [films]="films" [onShowfilms]="onShowFilms" [loadedCoverImages]="loadedCoverImages"></app-film-list>
    </div>
    <div class="w-4/5" *ngIf="films.length === 0">
        <p class="w-full mb-10 text-center text-white text-2xl">Nincsen ilyen film még!</p>
    </div>
    <div class="text-container w-4/5 mb-5 mt-10" *ngIf="onShowFilms.length > 0">
        <h2 class="text-2xl text-white">Műsoron</h2>
    </div>
    <div class="list-container w-full mb-10" *ngIf="onShowFilms.length > 0">
        <app-film-list [films]="onShowFilms" [loadedCoverImages]="loadedCoverImages"></app-film-list>
    </div>
    <div class="text-container w-4/5 mb-5" *ngIf="specialFilms.length > 0">
        <h2 class="text-2xl text-white">Prémium formátumok (3D)</h2>
    </div>
    <div class="list-container w-full mb-10" *ngIf="specialFilms.length > 0">
        <app-film-list [films]="specialFilms" [loadedCoverImages]="loadedCoverImages"></app-film-list>
    </div>
    <div class="text-container w-4/5 mb-5">
        <h2 class="text-2xl text-white">Akció filmek</h2>
    </div>
    <div class="list-container w-full mb-10">
        <app-film-list [films]="actionFilms" [loadedCoverImages]="loadedCoverImages"></app-film-list>
    </div>
    <div class="text-container w-4/5 mb-5">
        <h2 class="text-2xl text-white">Drámák</h2>
    </div> 
    <div class="list-container w-full mb-10">
        <app-film-list [films]="dramaFilms" [loadedCoverImages]="loadedCoverImages"></app-film-list>
    </div>
    <div class="text-container w-4/5 mb-5">
        <h2 class="text-2xl text-white">Animációs filmek</h2>
    </div>
    <div class="list-container w-full mb-10">
        <app-film-list [films]="animatedFilms" [loadedCoverImages]="loadedCoverImages"></app-film-list>
    </div>
    <div class="text-container w-4/5 mb-5">
        <h2 class="text-2xl text-white">Horror filmek</h2>
    </div>
    <div class="list-container w-full mb-10">
        <app-film-list [films]="horrorFilms" [loadedCoverImages]="loadedCoverImages"></app-film-list>
    </div>
</div>
