<div class="w-full h-screen bg-black" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card class="container w-1/4 rounded-lg" style="background-color: white;" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header class="w-full mb-3" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-title class="w-full text-xl font-semibold">Sikertelen foglalás!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-full text-center">
            <div class="w-full">
                <span>Ha bármi kérdésed van, keress minket ezen az e-mail címen: 
                    <a href="mailto:angolszabi@gmail.com" class="font-medium underline">angolszabi@gmail.com</a>
                </span>
            </div>
            <div class="w-full mt-3">
                <button mat-raised-button color="warn" routerLink="/cinema">Vissza a főoldalra!</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>