<div class="bg-black" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="w-full my-10" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="w-4/5 h-full" *ngIf="allFilms" fxLayout="row" fxLayoutAlign="space-around center">
            <div>
                <button mat-fab class="rotate-180" [ngStyle]="{'opacity': presentIndex > 0 ? '1' : '0.5'}" (click)="previousButton()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <div *ngFor="let film of allFilms.slice(presentIndex, presentEndIndex)">
                <div class="w-full h-full rounded-lg">
                    <img class="w-[112px] h-[168px] rounded-lg" [src]="getCoverUrl(film)" alt="{{film.title}}" (click)="chooseFilm(film.id)">
                </div>
            </div>
            <div>
                <button mat-fab (click)="nextButton()" [ngStyle]="{'opacity': presentEndIndex < allFilms.length ? '1' : '0.5'}"><mat-icon>play_arrow</mat-icon></button>
            </div>
        </div>
        <div class="w-4/5 h-full my-7">
            <form class="w-full" [formGroup]="searchForm" (ngSubmit)="onSearch()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <button mat-raised-button class="mb-6" color="primary" type="submit">Keresés<mat-icon class="ml-1">search</mat-icon></button>
                <mat-form-field>
                    <mat-label for="title">Cím:</mat-label>
                    <input matInput color="primary" type="text" formControlName="title">
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="genre">Műfaj:</mat-label>
                    <mat-select formControlName="genre">
                        <mat-option [value]="all"></mat-option>
                        <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="w-9/12" *ngIf="films">
            <div class="mb-10 w-full grid grid-cols-7 grid-flow-row gap-1 justify-items-center">
                <div class="w-full" *ngFor="let film of films">
                    <img class="w-[112px] h-[168px] rounded-lg" [src]="getCoverUrl(film)" alt="{{film.title}}" (click)="chooseFilm(film.id)">
                </div>
            </div>
        </div>
        <div class="w-4/5" *ngIf="films && films.length === 0">
            <p class="w-full mb-10 text-center text-white text-2xl">Nincsen ilyen film még!</p>
        </div>
        <div class="bg-[#9d9d9d] rounded-lg w-1/2 my-10">
            <div class="m-5" *ngIf="cinema" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>location_on</mat-icon>
                <p class="text-2xl">{{cinema.town}}</p>
            </div>
            <form class="mx-20 my-10" [formGroup]="screeningForm" (ngSubmit)="createScreening()" fxLayout="column" fxLayoutAlign="space-around center">
                <div *ngIf="!chosenFilm">
                    <p class="text-2xl">Válassz egy filmet!</p>
                </div>
                <mat-form-field *ngIf="chosenFilm">
                    <mat-label for="auditoriumId">Terem: </mat-label>
                    <mat-select formControlName="auditoriumId" (selectionChange)="auditoriumSelected()">
                      <mat-option *ngFor="let auditorium of auditoriums" [value]="auditorium.id"> {{ auditorium.hall_number }}-s terem</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="selectedAuditorium">
                    <mat-label for="day">Nap: </mat-label>
                    <mat-select formControlName="day" (selectionChange)="daySelected()">
                      <mat-option *ngFor="let date of week" [value]="date"> {{ date | date:'EE, MMM d'}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="selectedDay">
                    <mat-label for="time">Óra: </mat-label>
                    <mat-select formControlName="time">
                      <mat-option *ngFor="let hour of selectedDayHours" [value]="hour"> {{ hour | date: 'HH:mm' }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full mt-5">
                    <mat-label for="film_title">Film címe: </mat-label>
                    <input matInput type="text" [value]="chosenFilm?.title" formControlName="film_title">
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label for="screening_length">Hossz(percben): </mat-label>
                    <input matInput type="number" [value]="screeningTime" formControlName="screening_length">
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="language">Nyelv: </mat-label>
                    <mat-select formControlName="language">
                      <mat-option value="magyar">Magyar</mat-option>
                      <mat-option value="english">English</mat-option>
                      <mat-option value="japanese">Japanese</mat-option>
                    </mat-select>
                </mat-form-field>
                <span>
                    <button mat-raised-button color="primary" class="mt-5" type="submit" >Létrehozás</button>
                </span>
            </form>
        </div>
    </div>
</div>